<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="debug">
    <!-- 控制台输出 -->
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />
            <!--这个都知道是输出日志的格式-->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
        </Console>
    </appenders>
    <!-- 日志输出级别 -->
    <loggers>
        <root level="debug">
            <appender-ref ref="Console" />
        </root>
    </loggers>
</configuration>